<footer>
  <div class="footer-cover">
    <div class="footer">
    </div>
    <div class="company-copy-rights">
      <p>&copy;2021. GlobalFriend.com. All rights reserved. Privacy. Terms.</p>
    </div>
  </div>
</footer>
