<header>
  <div class="nav-header">
    <div class="nav-bar">
      <a href="#">GlobalFriend</a>
      <div class="user-profile">
        <i class="fas fa-bars"></i>
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>
  <div class="main-pages-nav-links">
      <a href="/">Custom Request</a>
        <div class="divider">
        &#10072;
        </div>
        <a href="/travel">Travel Diaries</a>
        <div class="divider">
        &#10072;
        </div>
      <a href="/experiences">Learn A Skill</a>
  </div>
</header>
